@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

.text-center {
  text-align: center;
}
body {
  font-family: "Inter", "sans-serif";
  background-image: url("/group-vector.svg");
  background-position: right;
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
}

.mt-4 {
  margin-top: 4em;
}

.mt-10 {
  margin-top: 10em;
}
.py-4 {
  padding: 4em;
}

.map-container  { 
  position: absolute; 
  outline: none;
  width: 60%; 
  height: 100vh; 
  z-index: 0; 
  float: right;
  padding-top: 700px; 
}
.form-group {
  color: white;
  width: 100%;
  margin-left: 75px;
  margin-top: 50vh;
  top: 0;
  position: absolute;
  z-index: 1;
}
/** make sure autofill dont have whitebackground */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   -webkit-transition-delay: 9999s;
   transition-delay: 9999s;
}
.title {
  margin-left: 75px;
  margin-top: 150px;
  position: absolute;
  font-weight: 900;
  font-size: 6rem;
  line-height: 7.375rem; /* 122.917% */
letter-spacing: 0.04688rem;
color: white;
  /* background: linear-gradient(94deg, #FF95D4 20.68%, #ea00ff5c 44.82%); */
background-clip: text;
-webkit-background-clip: text;
  top: 0;
  /* height: 50px; */
  z-index: 1;
}
.link-group{
  top: 0;
  margin-left: 75px;
  margin-top: 360px;
}
.input-bg{
  display: flex;
 align-self: center;
 border-radius: 0.5rem;
}
.input-bg-image{
  background: rgba(255, 255, 255, 0.28);
  backdrop-filter: blur(10px);
  height: 52px;
  display: flex;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  border: none;
  outline: none;
  padding-left: 3px;
}
.input-box {
  font-family: 'Space Grotesk';
  padding-left: 8px;
  font-size: 12px;
  width: 25.8125rem;
height: 50px;
  border: none;
  outline: none;
  border-radius: 0 0.5rem 0.5rem 0;
  background: rgba(255, 255, 255, 0.28);
  backdrop-filter: blur(10px);
}
.submit-box {
  font-family: "Oxygen Mono", monospace;
  padding: 6px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.submit-box:hover {
  background-color: white;
  color: black;
}
.description {
  font-weight: 300;
  width: 400px;
  font-family: 'Space Grotesk';
  color: #000;
  letter-spacing: 0.04688rem;;
}
@media only screen and (max-width: 600px) {
  body{
    overflow: hidden;
  }
  input, select, textarea {
    font-size: 16px;
  }
  .title {
    font-size: 4rem;
    line-height: normal;
    color: black;
    margin-left: 0;
    margin-top: 40px;
  }
  .link-group{
    position: absolute;
    margin-left: 0;
    width: 100%;
    font-size: 12px;
    left: 0;
    margin-top: 350px;
  }
  .form-group{
    margin-left: 0;
    margin-top: 47.5vh;
  }
  .description {
    font-size: 12px;
  }
  .header{
    position: absolute;
  }
.map-container  { 
  position: absolute; 
  outline: none;
  width: 100vh; 
  height: 100vh; 
  z-index: 0; 
  float: left;
  padding-top: 800px; 
}

}